@model IEnumerable<INMOBILIARIA_JosiasTolaba.Models.Inmueble>

@{
	ViewData["Title"] = "Inmueble";
    var rnd = new Random();
}

<h1>
	Inmueble
</h1>
<hr />
<p>
    <a class="btn btn-primary" asp-action="Create" title="Crear"><i class="fa-solid fa-plus"></i>➕ Nuevo Inmueble</a>
</p>
<hr />
<div class="mb-3">
    <label for="buscadorInput" class="form-label">Buscar Contrato por Direccion, Tipo, Uso o Precio </label>
    <input type="text" id="buscadorInput" class="form-control mb-2" placeholder="Escribe al menos 3 letras..." 
    list="opcionesInmueble"/>
    <datalist id="opcionesInmueble">
    </datalist>
</div>

<!-- Contenedor que ahora incluye tabla + paginación -->
<div id="tablaInmueble">
    @await Html.PartialAsync("_TablaPaginadaInmueble", Model)
</div>

<!-- JQuery desde CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $("#buscadorInput").on("keyup", function () {
            let texto = $(this).val();

            if (texto.length >= 3) {
                $.ajax({
                    url: '/Inmueble/Buscar',
                    type: 'GET',
                    data: { dato: texto },
                    success: function (data) {
                        let lista = $("#opcionesInmueble"); 
                        lista.empty();

                        if (data.length === 0) {
                            lista.append('<option value="No se encontraron resultados">');
                        } else {
                            data.forEach(function (item) {
                                lista.append(
                                    `<option data-id="${item.idInmueble}" 
                                        value="${item.direccion} (${item.tipo})">
                                    </option>`
                                );
                            });
                        }
                    }
                });
            }
        });

           // 🔹 Nueva función AJAX para paginación
    function cargarPagina(numPagina) {
        $.ajax({
            url: '/Inmueble/Index',
            type: 'GET',
            data: { pagina: numPagina },
            success: function (data) {
                $("#tablaInmueble").html(data); // reemplaza la tabla + paginacion
                $("html, body").animate({ scrollTop: 0 }, "fast"); // vuelve arriba
            }
        });
    }
</script>