@{
    ViewData["Title"] = "INMOBILIARIA";
}
<h1>Acceso Denegado</h1>
<h3>No cumple con la autorizacion para entrar a este sector</h3>
<a href="/Home" class="btn btn-primary mt-3">Volver al inicio</a>