@model IEnumerable<INMOBILIARIA_JosiasTolaba.Models.Contrato>

@{
    ViewData["Title"] = "Contratos";
}

<h1>Contrato</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">➕ Nuevo Contrato</a>
</p>

<div id="tablaInquilinos">
    @await Html.PartialAsync("_TablaPaginadaContratos", Model)
</div>