@model IEnumerable<INMOBILIARIA_JosiasTolaba.Models.Contrato>

@{
    ViewData["Title"] = "Contratos";
}

<h1>Contrato</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">➕ Nuevo Contrato</a>
     <a asp-controller="Contrato" asp-action="BuscarContratosAvanzado" class="btn btn-primary">Buscar contratos</a>
</p>

<div id="tablaContratos">
    @await Html.PartialAsync("_TablaPaginadaContratos", Model)
</div>

<script>
function cargarPagina(numPagina) {
        $.ajax({
            url: '/Contrato/Index',
            type: 'GET',
            data: { pagina: numPagina },
            success: function (data) {
                $("#tablaContratos").html(data); // reemplaza la tabla + paginacion
                $("html, body").animate({ scrollTop: 0 }, "fast"); // vuelve arriba
            }
        });
    }
</script>